.LoginPage {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width: 100% !important;
  height: 100vh !important;
  background: #0b6cf8;
  background: -moz-linear-gradient(
    -45deg,
    #0b6cf8 0%,
    #1fadf6 50%,
    #51fff1 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    #0b6cf8 0%,
    #1fadf6 50%,
    #51fff1 100%
  );
  background: linear-gradient(135deg, #0b6cf8 0%, #1fadf6 50%, #51fff1 100%);
}
.CardBox {
  align-items: center !important;
  justify-content: center !important;
}
.titleHeader {
  color: rgb(200, 213, 223);
  text-align: center;
}
.card {
  opacity: 0.35;
  background-color: #000033 !important;
  color: white !important;
  border-radius: 1rem !important;
  padding: 1rem 2rem !important;
  width: 40% !important;
  margin: 1rem auto !important;
}
.input {
  border: #fff solid 2px !important;
  border-radius: 0.5rem !important;
  color: #fff !important;
  margin: 1rem auto !important;
  width: 100% !important;
  padding: 1rem !important;
}
.btnLogin {
  width: 100% !important;
}
.img {
  opacity: 0.45 !important;
  width: 70%;
}
.btnBack {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: center !important;
}
/* responsiv================================================ */

@media screen and (max-width: 768px) {
  .CardBox {
    width: 90% !important;
    margin: 1rem auto !important;
  }
  .card {
    align-items: center !important;
    justify-content: center !important;
    width: 16rem !important;
  }

  .input {
    margin: 0 !important;
    width: 100% !important;
    margin: 0.5rem auto !important;
  }
  .btnLogin {
    width: min-content !important;
  }
  .img {
    display: none;
  }
}
